<header>
  <img src="../../assets/images/logo.png" alt="Logo ChocoPap" routerLink="/" />
  <nav class="navbar">
    <ul class="list-group" [ngClass]="{ toggled: isToggled }">
      <li
        class="list-group-item"
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Accueil
      </li>
      <li
        class="list-group-item"
        routerLink="/products"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Boutique
      </li>
      <li class="list-group-item cart">
        <p class="cart">
          <span>{{ getCartItemCount() }}</span>
          <svg>
            <use href="../../assets/icons/icons.svg#cartIcon" />
          </svg>
        </p>
      </li>
    </ul>
    <button class="menu-toggle" (click)="handleToggle()">
      <svg>
        <use href="../../assets/icons/icons.svg#hamMenuIcon" />
      </svg>
    </button>
  </nav>
</header>
