<footer>
  <div class="footer-main-container">
    <ul class="list-group text">
      <li class="list-group-item title">Choco Pap</li>
      <li class="list-group-item">
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed repellat
          consequuntur dicta quaerat cum! Voluptas nemo quis neque quaerat!
          Totam?
        </p>
      </li>
    </ul>
    <ul class="list-group contact">
      <li class="list-group-item title">Contact</li>
      <li class="list-group-item">
        <p>
          <strong>Adresse : </strong
          ><span class="highlighted">51, rue du chocolat - 75000 Paris</span>
        </p>
        <p>
          <strong>Téléphone : </strong
          ><span class="highlighted">01 23 45 67 89</span>
        </p>
        <p>
          <strong>Horaires : </strong
          ><span class="highlighted">9h00 - 17h00 du Lundi au Samedi</span>
        </p>
      </li>
    </ul>
    <ul class="list-group in-line social-network">
      <li class="list-group-item">
        <svg>
          <use href="../../assets/icons/icons.svg#fbIcon" />
        </svg>
      </li>
      <li class="list-group-item">
        <svg>
          <use href="../../assets/icons/icons.svg#instaIcon" />
        </svg>
      </li>
      <li class="list-group-item">
        <svg>
          <use href="../../assets/icons/icons.svg#twIcon" />
        </svg>
      </li>
    </ul>
  </div>
</footer>
