div.counter {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
}

div.counter:has(button.cart-action.cart) {
  flex-wrap: wrap;
}

button.counter {
  position: absolute;
  top: 0;
  left: 50px;
  display: flex;
  flex-direction: column;
  background-color: var(--blue);
  border: none;
  border-radius: 0 3px 3px 0;
  padding: 0;
}

svg {
  width: 30px;
  height: 15px;
  fill: var(--white);
  cursor: pointer;
}

input {
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  height: 30px;
  width: 50px;
  padding: 0;
  border: none;
  border-radius: 3px 0 0 3px;
  background-color: var(--white);
}
div.counter:has(.cart) input {
  font-size: 1.4rem;
  width: 40px;
}
div.counter:has(.cart) button.counter{
  left:40px;
}
div.counter:has(.disabled) button.counter, 
div.counter:has(.disabled) svg {
  opacity:0.8;
  cursor:not-allowed;
  z-index:1000;
}
@media screen and (min-width: 372px) {
  div.counter:has(button.cart-action.cart) {
    flex-wrap: nowrap;
  }

}