<div class="counter">
  <input
    #counterInput
    id="{{ 'input-counter-' + type[0] }}"
    type="text"
    class="form-control"
    disabled
    [ngModel]="count"
  />
  <button class="counter">
    <svg (click)="handleCartIncrement(1)">
      <use href="../../assets/icons/icons.svg#upIcon" />
    </svg>
    <svg (click)="handleCartIncrement(-1)">
      <use href="../../assets/icons/icons.svg#downIcon" />
    </svg>
  </button>
  <app-addRemove [id]="id" [type]="type" [count]="count"></app-addRemove>
</div>
