<main class="cart-popup">
  <button class="close" (click)="close()">
    <svg>
      <use href="../../assets/icons/icons.svg#closeIcon" />
    </svg>
  </button>
  <section class="header">
    <h2 class="title">PANIER</h2>
  </section>
  <hr />
  <!-- <p class="debug">{{ cart | json }}</p> -->
  <section class="content" *ngIf="cart.length > 0">
    <div class="cart-item" *ngFor="let item of cart">
      <img
        src="{{ '../../../../../assets/images/' + item.data?.image }}"
        alt="{{ item.data?.title }}"
      />
      <div class="product-info">
        <h3 class="cart-title">{{ item.data?.title }}</h3>
        <p class="price">
          {{ item.data?.price | currency : "€" : "symbol" : "1.2-2" }} l'unité
        </p>
      </div>
      <app-counter [id]="item.id" [type]="['remove', 'cart']"></app-counter>
    </div>
  </section>
  <p class="empty-cart" *ngIf="cart.length === 0">VOTRE PANIER EST VIDE</p>
  <hr *ngIf="cart.length > 0" />
  <section class="footer" *ngIf="cart.length > 0">
    <p class="total">
      TOTAL: {{ getTotalPrice() | currency : "€" : "symbol" : "1.2-2" }}
    </p>
    <div class="footer-controls">
      <button (click)="reset()">REINITIALISER</button>
      <button (click)="submit()">VALIDER</button>
    </div>
  </section>
</main>
