main {
  position:relative;
  padding:5px;
}
section.header {
  /* min-width:300px; */
  margin-bottom:10px;
}
button.close {
  position:absolute;
  top:4px;
  left:5px;
  padding:0;
  border:none;
  background-color: transparent;
  cursor:pointer;
}
svg {
  width: 30px;
  height: 30px;
  fill: var(--orange);
}
h2 {
  text-align: center;
  margin:0;
  padding:5px 0;
}
hr {
  margin:5px -5px 10px;
}
img {
  object-fit: cover;
  width:120px;
  height:70px;
  border:1px solid;
  border-radius: 3px;
}
div.cart-item {
  display:grid;
  grid-template-rows: auto;
  grid-template-columns: 125px auto 75px;
  align-items: center;
  margin-bottom: 10px;
  padding: 0 5px;
  font-size: 1.4rem;;
}
div.product-info {
  padding:0 10px;
}
h3 {
  margin-top:0;
  font-size:1.4rem;
}
p.price {
  padding:0 5px;
}
p.empty-cart {
  font-size: 1.4rem;
  font-weight: 600;
  color:var(--orange);
  text-align: center;
  width:250px;
}
section.footer {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}
div.footer-controls {
  display:flex;
}
section.footer button{
  background-color: var(--blue);
  color: var(--white);
  border: none;
  box-shadow: 5px 5px 5px var(--brown-dark);
  font-size: 1.4rem;
  padding: 5px 10px;
  margin:5px 10px;
  width:135px;
  cursor: pointer;
}
p.total {
  font-size: 1.6rem;
  font-weight: 600;
  margin:5px 0;
}
@media screen and (min-width: 372px) {
  div.cart-item {
    grid-template-columns: 125px auto 150px;
  }
}