<main>
  <h1>BOUTIQUE</h1>
  <section class="products">
    <fieldset class="form-filter">
      <!-- <legend><h2>FILTRE</h2></legend>
      <p class="debug">
        {{ form.value | json }}
      </p> -->
      <form
        #form="ngForm"
        (ngSubmit)="filterReset(form)"
        (change)="handleFilterChange(form)"
      >
        <div class="categories" ngModelGroup="categories">
          <div class="container-h3">
            <h3>Catégories</h3>
            <button
              class="chevron"
              [ngClass]="{ rotated: isRotated[0] }"
              (click)="rotateChevron(0)"
            >
              <svg>
                <use href="../../assets/icons/icons.svg#chevronIcon" />
              </svg>
            </button>
          </div>
          <div *ngIf="isRotated[0]" class="hidable">
            <app-input
              *ngFor="let cat of cats"
              [cat]="cat"
              [filter]="filter.categories"
            ></app-input>
          </div>
        </div>
        <div class="price" ngModelGroup="price">
          <div class="container-h3">
            <h3>Prix</h3>
            <button
              class="chevron"
              [ngClass]="{ rotated: isRotated[1] }"
              (click)="rotateChevron(1)"
            >
              <svg>
                <use href="../../assets/icons/icons.svg#chevronIcon" />
              </svg>
            </button>
          </div>
          <div *ngIf="isRotated[1]" class="hidable">
            <app-select
              *ngFor="let price of prices"
              [cat]="price"
              [options]="
                price.key === 'min' ? priceOptions.min : priceOptions.max
              "
              [filter]="filter.price"
              unit="€"
            ></app-select>
          </div>
        </div>
        <div class="note" ngModelGroup="note">
          <div class="container-h3">
            <h3>Note</h3>
            <button
              class="chevron"
              [ngClass]="{ rotated: isRotated[2] }"
              (click)="rotateChevron(2)"
            >
              <svg>
                <use href="../../assets/icons/icons.svg#chevronIcon" />
              </svg>
            </button>
          </div>
          <div *ngIf="isRotated[2]" class="hidable">
            <app-select
              *ngFor="let note of notes"
              [cat]="note"
              [options]="noteOptions"
              [filter]="filter.note"
            ></app-select>
          </div>
        </div>
        <button type="submit">Réinitialiser</button>
      </form>
    </fieldset>
    <div class="cards-container products">
      <app-card [data]="product" *ngFor="let product of products"> </app-card>
    </div>
  </section>
</main>
