<main>
  <h1>BOUTIQUE</h1>
  <section class="products">
    <fieldset class="form-filter">
      <legend><h2>FILTRE</h2></legend>
      <form #form="ngForm" (ngSubmit)="reset(form)">
        <div class="categories" ngModelGroup="categories">
          <h3>Catégories</h3>
          <app-input *ngFor="let cat of cats" [cat]="cat"></app-input>
        </div>
        <div class="price" ngModelGroup="price">
          <h3>Prix</h3>
          <app-select
            *ngFor="let price of prices"
            [cat]="price"
            [options]="
              price.key === 'pmin' ? priceOptions.pmin : priceOptions.pmax
            "
            unit="€"
          ></app-select>
        </div>
        <div class="note" ngModelGroup="note">
          <h3>Note</h3>
          <app-select
            *ngFor="let note of notes"
            [cat]="note"
            [options]="noteOptions"
          ></app-select>
        </div>
        <button type="submit">Réinitialiser</button>
      </form>
      {{ form.value | json }}
    </fieldset>
    <div class="cards-container products">
      <app-card [data]="product" *ngFor="let product of products; index as idx">
      </app-card>
    </div>
  </section>
</main>
